DEBUG=1
SECRET_KEY=django-insecure-z-wm%_)87xp*ko-#x1m%9rtzj))*seivgat42u=lg05t-$$y22!
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
# Production (Render): https://seu-app.onrender.com
CSRF_TRUSTED_ORIGINS=

SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=bookstore
SQL_USER=bookstore
SQL_PASSWORD=bookstore
SQL_HOST=db
SQL_PORT=5432

POSTGRES_DB=bookstore
POSTGRES_USER=bookstore
POSTGRES_PASSWORD=bookstore
